body {
  justify-content: center;
  align-items: center;
  background-color: #37392E;
}

.headerStyle {
  text-align: center;
  color: #EEE5E5;
}

.btnStyle {
  margin: 10px;
  border: solid;
  border-color: #28AFB0;
  background-color: #19647E;
  color: #EEE5E5;
}

